.position{
    display:flex;
    justify-content:center;
    position:default;
    
    margin:4rem 0;
}

.position .welcome{
    max-width:1000px;
    width:100%;
    position:relative;
    background:linear-gradient(90deg, #f8eeff, #dccaf4);

    padding:8rem 6rem 4rem;
    border-radius:10px;
    text-align:left;

    box-shadow:8px 8px 20px 4px inset #cbb6e7;
    transition:padding ease-in-out 5s;
}

.position .welcome .layer{
    position:relative;
    display:inline-block;

    font-family:'Proxima Nova';
    cursor:default;
}

.position .welcome .layer .shadow,
.position .welcome .layer .gradient{
    position:absolute;
    top:-10rem;
    left:0rem;

    padding:4rem 0rem;
    white-space:nowrap;
}

.position .welcome .layer .shadow{
    color:transparent;
    text-shadow:2px 2px 4px #c2b2d9;
}

.position .welcome .layer .shadow span{
    -webkit-text-stroke:0.2rem #9049c3;
}

.position .welcome .layer .gradient{
    background:#fff;   
    color:transparent;
    background-clip:text;

    z-index:2;
    font-weight:700 !important;
}

.position .welcome .layer .gradient span{
    background:radial-gradient(farthest-side at 30% 60%, #FFE76E, #FFC15E);
    color:transparent;
    background-clip:text;
}
