.pp{
    background:radial-gradient(50% 52%, #c8b0dedd, #fff);
    border-radius:14px;
    padding:3rem 4rem 1rem;
    margin:4rem 14rem -2rem;
}

h2{
    font-size:1.77rem;
    padding-bottom:1.2rem;
}

h3{
    font-size:1.47rem;
    margin:3.1rem 0 -1rem;
}

p{
    font-size:1.16rem;
    font-weight:400;
}

h3, p{
    text-align:justify;
}

ul{
    font-size:1.16rem;
    font-weight:400;
    text-align:left;
    margin-top:-0.8rem;
    margin-left:-0.2rem;
}

ul li::marker{
    font-size:0.9rem;
}

ul li span{
    font-weight:700;
}


ol{
    font-size:1.16rem;
    font-weight:400;
    text-align:left;
    margin-top:1.2rem;
}

ol li.block i{
    display:inline-block;
    color:#6e528a;
    font-weight:500;
    margin:10px 0 !important;
}



@keyframes appear{
    from{
        opacity:0;
        scale:0.5;
    }
    to{
        opacity:1;
        scale:1;
    }
}

.block{
    animation:appear linear;
    animation-timeline:view();
    animation-range:entry 0;
}